body
{
    /*background-image: url("qrc:/shell/img/mere-logo.png");*/
    background-image: url("../img/mere-logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-position: 2% 96%;
    background-size: 128px auto;
    /*background-color: #002E63;*/
    background-color: #0C5C0C;
    overflow:hidden;
    //-webkit-animation: background 60s infinite; 
    //animation: background 60s infinite;
}

@keyframes background
{
    0%   {background-color: #4B565C}
    5%   {background-color: #486860}
    10%   {background-color: #100D08}
    15%   {background-color: #0C5C0C}
    20%   {background-color: #063002}
    25%   {background-color: #0DA02A}
    30%   {background-color: #002E62}
    35%   {background-color: #446B96}
    40%   {background-color: #304070}
    45%   {background-color: #0A1F3C}
    50%   {background-color: #024261}
    55%   {background-color: #035096}
    60%   {background-color: #002365}
    65%   {background-color: #003466}
    70%   {background-color: #0073CE}
    75%   {background-color: #1C2842}
    80%   {background-color: #002E62}
    85%   {background-color: #00308F}
    90%   {background-color: #FFD525}
    95%   {background-color: #FFDA56}
    100%   {background-color: #FF9D04}
    25%   {background-color: #DAA521}
    50%   {background-color: #B60035}
    75%   {background-color: #AF0013}
}

.mere
{

}

.mere-panel
{
    position: fixed;

    /*background-color: #010101;*/
    /*background-color: #002E63;*/
    /*background-color: #000028;*/
    background-color: #051536;

}

.mere-panel-top
{
    left: 0px !important;
    top: 0px !important;
    height: 26px;
    width: 100%;
    background-color: #0C5C0C;
}


.mere-panel-applets
{
    background-color: #002E63;
    /*background-color: red; position: relative; left: 0px; top: 0px*/
}

.mere-applet
{
    /*width: 200px;*/
    margin: 2px;
    padding: 2px;
/*    background-color:red;*/
}

.mere-panel > .mere-applet-brand
{
    height: 24px;
    width: 24px;
    background-image: url("../img/001-32x21.png");
    background-repeat: no-repeat
}

.mere-applet-clock
{
    position: fixed;
    width: 100%;
    text-align: center;

    color: #ffffff;
    /*background-color:gray;*/
}

.mere-applet-apps
{
    position: fixed;
    left: 0px;
    color: #ffffff;
    /*background-color:red;*/
}

.mere-applet-user
{
    position: fixed;
    right: 0px;
    color: #ffffff;
    /*background-color:red;*/
    /*height: 24px;*/
    /*width: 24px;*/
    background-image: url("../img/user.png");
    background-repeat: no-repeat
}
